@page "/reservations/create"
@using Microsoft.EntityFrameworkCore
@using Table4U
@using Table4U.Data
@inject IDbContextFactory<Table4U.Data.Table4UContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>New reservation</PageTitle>

<h1>Create</h1>

<h2>Reservation</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Reservation" OnValidSubmit="AddReservation" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Reservation.Name" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Reservation.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label> 
                <InputDate id="date" @bind-Value="Reservation.Date" class="form-control" aria-required="true" Format="YYYY.MM.dd"/> 
                <ValidationMessage For="() => Reservation.Date" class="text-danger" /> 
            </div>    
            <div>
                <label for="time" class="form-label">Time:</label>
                <TimeInput id="time" TValue="TimeOnly" @bind-Value="Reservation.Time"></TimeInput>
                <ValidationMessage For="() => Reservation.Date" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="peoplecount" class="form-label">PeopleCount:</label> 
                <InputNumber id="peoplecount" @bind-Value="Reservation.PeopleCount" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Reservation.PeopleCount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="tableid" class="form-label">TableId:</label> 
                <InputSelect id="tableid" @bind-Value="Reservation.TableId" class="form-control" aria-required="true">
                    @foreach (var item in tables.Where(r=> r.Slot >= Reservation.PeopleCount))
                    {
                        <option value="@item.Id">@item.Id</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Reservation.TableId" class="text-danger" /> 
            </div>        
            <div>
                <button type="submit" class="btn btn-success">Create</button>
                <a class="btn btn-secondary" onclick="history.back()">Back</a>
            </div>
        </EditForm>
    </div>
</div>



@code {
    [SupplyParameterFromForm]
    private Reservation Reservation { get; set; } = new();
    private Table4UContext context = default!;
    List<Table> tables = default!;

    protected override void OnInitialized()
    {
        Reservation.Date = DateTime.Now;
        Reservation.Time = new();
        context = DbFactory.CreateDbContext();
        tables = context.Table.ToList();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddReservation()
    {
        context.Reservation.Add(Reservation);
		await context.SaveChangesAsync();
		NavigationManager.NavigateTo("/reservations");
	}
}
