@page "/reservations/edit"
@using Microsoft.EntityFrameworkCore
@using Table4U
@inject IDbContextFactory<Table4U.Data.Table4UContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Reservation</h2>
<hr />
@if (Reservation is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Reservation" OnValidSubmit="UpdateReservation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Reservation.Id" value="@Reservation.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Reservation.Name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Reservation.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="Reservation.Date" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Reservation.Date" class="text-danger" />
                </div>
                <div>
                    <label for="time" class="form-label">Time:</label>
                    <TimeInput id="time" TValue="TimeOnly" @bind-Value="Reservation.Time"></TimeInput>
                    <ValidationMessage For="() => Reservation.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="peoplecount" class="form-label">PeopleCount:</label>
                    <InputNumber id="peoplecount" @bind-Value="Reservation.PeopleCount" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Reservation.PeopleCount" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="tableid" class="form-label">TableId:</label>
                    <InputSelect id="tableid" @bind-Value="Reservation.TableId" class="form-control" aria-required="true">
                        @foreach (var item in tables.Where(r=> r.Slot >= Reservation.PeopleCount))
                        {
                            <option value="@item.Id">@item.Id</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Reservation.TableId" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-primary" href="/reservations">Back to List</a>
                </div>
            </EditForm>
        </div>
    </div>
}



@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Reservation? Reservation { get; set; }
    private List<Table> tables;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Reservation ??= await context.Reservation.FirstOrDefaultAsync(m => m.Id == Id);
        tables = context.Table.ToList();

        if (Reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Reservation!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReservationExists(Reservation!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reservations");
    }

    private bool ReservationExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reservation.Any(e => e.Id == id);
    }
}
